* {
    margin: 0;
    padding: 0;
    background-color: darkgrey;
}

/* The following blocks of code formats the header and nav bar */

header {
    display: flex;
    height: 8vh;
    background-color: rgb(59, 56, 72);
    justify-content: space-between;
    align-items: center;
    font-size: large;
}

header h1 {
    width: 15%;
    display: flex;
    background-color: orange;
    height: 65%;
    justify-content: center;
    align-items: center;
}

nav {
    display: inline-flex;
    height: 65%;
    width: 33%;
    justify-content: space-around;
    align-items: center;
    font-size: xx-large;
}

nav a {
    text-decoration: none;
}

.nav-link {
    width: 25%;a    
    margin-right: 10px;
}

.info {
    width: 75%;
}

#banner {
    display: flex;
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/* This block of code turns the main section into a flexbox and formats the sections within */

main {
    display: flex;
    flex-direction: column;
    height: 135vh;
    width: 100%;
}

.main-section {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-bottom: 7vh;
}

#about-me {
    height: 30%;
    margin-top: 4vh;
}

#work {
    height: 90%;
}

#contact {
    height: 10%;
    margin-top: 5vh;
}

h3 {
    text-align: right;
    font-size: xx-large;
}

.vertical-line {
    border-right: solid black;
    margin-right: 5px;
    height: 113%;
}

/* This block of code styles the content within the sections */

#about-me-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#about-me-content p {
    height: 30%;
    font-size: 1.5rem;
    margin-top: 1vh;
    margin-left: 3vh;
}

#work-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: space-between;
}

#work-content .project:nth-child(1){
    width: 94%;

}

.project {
    border: 10px solid teal;
    width: 45%;
    height:33%;
    object-fit: cover;
    margin-bottom: 3vh;
}

#contact-content {
    height: 100%;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    font-size: x-large;
}

