* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    height: 90px;
    background-color: rgb(59, 56, 72);
    justify-content: space-between;
    align-items: center;
}

header h1 {
    width: 15%;
    display: flex;
    background-color: aquamarine;
    height: 65%;
    justify-content: center;
    align-items: center;
}

nav {
    display: inline-flex;
    width: 33%;
    justify-content: space-around;
    background-color: blueviolet;
    align-items: center;
}

nav a {
    text-decoration: none;
}